// header part
@import 'notify';

/*******************
 General Topbar
*******************/

.topbar {
    position: relative;
    z-index: 50;
    background: $topbar;
    height: $topbar-height;
    .navbar-collapse {
        padding: 0;
        .navbar-nav {
            .app-search {
                position: relative;
                margin: 0;
                a {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    color: #3768a8;
                }
                .form-control {
                    border: none;
                    font-size: 13px;
                    color: #3768a8;
                    padding-left: 20px;
                    padding-right: 40px;
                    background: rgba(255,255,255,.9);
                    box-shadow: none;
                    height: 30px;
                    font-weight: 600;
                    width: 180px;
                    display: inline-block;
                    line-height: 30px;
                    margin-top: 15px;
                    border-radius: 40px;
                    transition: .5s ease-out;
                    &:focus {
                        width: 300px;
                    }
                }
            }
            .profile-pic {
                color: $white;
                padding: 0 14px 0 8px;
                line-height: 60px;
                min-height: 60px;
                img {
                    margin-right: 10px;
                    &.img-circle {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .top-navbar {
        min-height: $topbar-height;
        padding: 0px;
        .dropdown-toggle::after {
            display: none;
        }
        .navbar-header {
            line-height: $topbar-navlink-height;
            .navbar-brand {
                width: 240px;
                display: flex;
                align-items: center;
                margin: 0px;
                padding: $topbar-navbrand-padding;
                .dark-logo {
                    display: none;
                }
                .logo-text {
                    padding-left: 5px;
                }
                .logo-icon{
                    margin-right: 5px;    
                }
            }
        }
        .navbar-nav>.nav-item>.nav-link {
           padding: $topbar-navlink-padding;
           font-size: $topbar-navlink-font-size;
           line-height: $topbar-navlink-height;
           height:$topbar-navlink-height;       
           
        }
        .navbar-nav>.nav-item{
            
            &:hover{
                background: $transparent-dark-bg;
            }    
        }
    }
    .user-dd, .mailbox {
        min-width: 280px;
    }
    .nav-toggler, .topbartoggler{
        color:$theme-light;
        padding: 0 15px;
    }
}


.search-box {
    .app-search {
        z-index: 110;
        width: 100%;
        top: -1px;
        box-shadow: $shadow;
        display: none;
        left: 0px;
        .form-control {
            padding: 23px 40px 20px 23px;
            @extend %square;
            transition: $transitions;
            &:focus {
                border-color: transparent;
            }
        }
        .srh-btn {
            position: absolute;
            top: 23px;
            cursor: pointer;
            right: 20px;
        }
    }
}

/*******************
Designed dropdown
******************/
.topbar {
    .dropdown-menu{
        padding-top: 0px;
        border: 0px;
        box-shadow:1px 1px 15px rgba(0, 0, 0, 0.1);
        .with-arrow{
            position: absolute;
            height: 10px;
            overflow: hidden;
            width: 40px;
            top:-10px;
           >span {
            @extend %rotate45;
            background-color:$white;
            width:15px;
            height:15px;
            top: 3px; 
            left: 15px;
            position:absolute;
            content: "";
            -moz-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
            /*box-shadow:-3px -3px 8px rgba(0, 0, 0, 0.1);    */
           }
        }
        &.dropdown-menu-right {
            .with-arrow{
                right: 0px;
                >span {
                    right: 20px;
                    left:auto;
                }
            }
        }
    }
}
/*******************
Topbar Responsive
******************/

@media (max-width: 767px) {
    .topbar .top-navbar {
        .navbar-collapse.show, .navbar-collapse.collapsing {
            display: block;
            width: 100%;
            border-top: 1px solid $border-color;
        }
        .navbar-nav {
            flex-direction: row;
            .dropdown{
                position: static;
            }
        }
        .navbar-nav>.nav-item>.nav-link{
            padding: 0 10px;
        }
        .navbar-header{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .dropdown-menu {
            position: absolute;
            width: 100%;
             .with-arrow{
                display: none;
            }
        }
        
    }
}